{% extends 'site/blog/base.html' %}

{% block title %}
    {{ post.title }} - Micropyramid
{% endblock %}

{% block meta-description %}
{%  if not post.meta_description %}
  <meta name="description" content="{{ post.title }} - MicroPyramid." />
{% else %}
  <meta name="description" content="{{ post.meta_description }}" />
{% endif %}
{% endblock %}

{% block extra-head %}
  <link rel="canonical" href='https://micropyramid.com/blog/{{ post.slug }}/'/>
  <link rel="pingback" href="https://micropyramid.com/blog/xmlrpc/"/>
{% endblock %}

{% block blogcontent %}
<span itemscope itemType="http://schema.org/BlogPosting">
<h3 class="blog-det-title" itemprop="headline">{{ post.title }}</h3>
<div class="col-sm-12 col-md-8" id="block-posts">
  <div class="row marl">
    <div class="col-xs-12 blog-post wow fadeIn animated">
      <div class="post-view row marl">
        <div class="post-right-view">
          <!-- {% if post.featured_image %}
          <div class="post-img">
            <a class="fancybox replace-2x" rel="" href="images/portfolio/06/01.jpg" title="Img Title!">
            <img class="replace-2x" itemprop="image" src="/static/blog/{{ post.featured_image }}" width="620" height="370" alt="">
            </a>
          </div>
          {% endif %} -->
          <p itemprop="articleBody">{{ post.content|safe }}</p>
          <h5>Tags</h5>
          <div class="tag-div">
            <ul>
              {% for tag in post.tags.all %}
              <li><a href="/blog/tag/{{tag.slug}}/"><i class="fa fa-tag"></i><span itemprop="keywords">{{tag.name}}</span></a></li>
              {% endfor %}
            </ul>
          </div>
          <h5>Share this blog post:</h5>
          <div id="top-social" style="text-align:left;">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ minified_url }}&t={{ post.title }}" class="facebook"><i class="fa fa-facebook"></i></a><span class="share-count">{{fbshare_count}}</span></li>
              <li><a href="https://plus.google.com/share?hl=en-US&url={{ minified_url }}" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ minified_url }}&via=MicroPyramid" class="twitter"><i class="fa fa-twitter"></i></a><span id="twitterCount" class="share-count">{{twshare_count}}</span></li>
              <li><a href="https://www.linkedin.com/cws/share?url={{ minified_url }}&token=&isFramed=true" class="linkedin"><i class="fa fa-linkedin"></i></a><span class="share-count">{{lnshare_count}}</span></li>
            </ul>
          </div>
          <!-- COMMENTS -->
          <div class="col-xs-12" id="comments">
            <h5 class="comments-title">Latest Comments</h5>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'micropyramid'; // required: replace example with your forum shortname
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
          <!-- /comments -->
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</div>
{% endblock %}

{% block blog_author_details %}
<div class="row marl">
  <div class="post-left-view" style="padding:0px;">
    <div class="user-details">
      <div class="name-desig">
        <span itemprop="author"><span itemscope itemtype="http://schema.org/Person"><span class="user-name" itemprop="name">{{ post.user.get_full_name }}</span></span></span>
        <!-- <span class="user-desig">{{ post.user.user_roles }}</span> -->
        <span class="post-date" itemprop="datePublished">{{ post.updated_on|date:"d F Y" }}</span>
        <span class="post-count">{{ post.user.total_posts }} Blog Posts</span>
      </div>
    </div>
    <ul class="list-inline author-network">
      <!-- {% if post.user.fb_profile %}<li><a href="{{ post.user.fb_profile }}" class="facebook"><i class="fa fa-facebook"></i></a>
      </li>{% endif %}
      {% if post.user.ln_profile %}<li><a href="{{ post.user.ln_profile }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </li>{% endif %}
      {% if post.user.google_plus_url %}<li><a href="{{ post.user.google_plus_url }}" class="google-plus"><i class="fa fa-google-plus"></i></a>
      </li>{% endif %}
      {% if post.user.tw_profile %}<li><a href="{{ post.user.tw_profile }}" class="twitter"><i class="fa fa-twitter"></i></a>
      </li>{% endif %} -->
    </ul> 
    <!--<h5>About Aswani</h5>
      <span class="author-desc">Being an Electronics student, I nurtured an abiding interest in the field of Computers due to its immense applications and a wide scope for research. I got special interest towards programming in my career because of the subjects like C, Python and Java. To expose myself to the outer limits of specialized knowledge in the field of Programming and to pursue my passion, I am currently</span>-->
  </div>
</div>
</span>
{% endblock %}