{% extends 'site/blog/base.html' %}

{% block title %}
  {{ posts.0.title }} ... | {{ block.super }}
{% endblock %}

{% block meta-description %}
  <meta name="description" content="{% for post in posts %} {{ post.title }}{% if not forloop.last %}, {% endif %}{% endfor %} - MicroPyramid." />
{% endblock %}

{% load blog_tags %}
{% block blogcontent %}
<!-- sec-about starts -->
<div class="col-sm-12 col-md-9 blog-container-left">
  <div class="blogs">
    <ul class="blog-list">
      {% for post in posts %}
      <li class="list-item" itemscope itemType="http://schema.org/BlogPosting">
        <div class="blog-left">
           <h3 class="title" itemprop="headline"><a href="{{ SITE_URL }}/blog/{{post.slug}}/">{{ post.title }}</a></h3>
            <div class="blog-right">
              <div class="blog-author-pic">
                {% if post.featured_image %}
                   <img itemprop="image" src="/static/blog/{{post.featured_image}}" />
                {% endif %}
              </div>
              <div class="blog-upic-details" >
                <span class="uname" itemprop="author"><a>{{ post.user.get_full_name }}</a></span>
                <!-- <span class="designation">{{ post.user.user_roles }}</span> -->
                <span class="udate-time" itemprop="datePublished">{{ post.updated_on|date:"d F Y" }}</span>
                <span class="blog-count">{{ post.user.total_posts }} Blog Posts</span>
                <span class="blog-content-social">
                  <ul >
                    {% if post.user.fb_profile %}
                      <li><a href="{{ post.user.fb_profile }}" class="social-share facebook"><i class="fa fa-facebook"></i></a>
                    </li>{% endif %}
                    {% if post.user.ln_profile %}
                      <li><a href="{{ post.user.ln_profile }}" class="social-share linkedin"><i class="fa fa-linkedin"></i></a>
                    </li>{% endif %}
                    {% if post.user.google_plus_url %}
                      <li><a href="{{ post.user.google_plus_url }}" class="social-share google"><i class="fa fa-google-plus"></i></a>
                    </li>{% endif %}
                    {% if post.user.tw_profile %}
                      <li><a href="{{ post.user.tw_profile }}" class="social-share twitter"><i class="fa fa-twitter"></i></a>
                    </li>{% endif %}
                  </ul>
                </span>
              </div>
            </div>
           <div class="desc">
              <p itemprop="description">{{post.content|safe|truncatewords:50}}</p>
           </div>
           <div class="tags">
              <ul>
                {% for tag in post.tags.all %}
                  <li><a itemprop="url" href="/blog/tag/{{tag.slug}}/"><i class="fa fa-tag"></i><span itemprop="keywords">{{ tag.name }}</span></a></li>
                {% endfor %}
              </ul>
           </div>
           <div class="read"><a itemprop="url"  href="/blog/{{post.slug}}/">Continue Reading.....</a></div>
        </div>
     </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row marl paging">
    <div class="col-xs-12 ">
      <div class="pagination-box">
        <ul class="pagination">
          {% get_page current_page last_page as pages %}
          {% for s in pages %}
          <li {% ifequal s current_page %} class="active" {% endifequal %}><a href="/blog/?page={{s}}">{{s}}</a></li>
          {% endfor %}
          <li class="disabled"><a href="/blog/?page={{s}}">...</a></li>
          <li><a href="/blog/?page={{last_page}}">last</a></li>
          <li><a href="/blog/?page={{current_page| add:"1"}}">Next<i class="fa fa-angle-right pagination-next"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- sec-about ends -->
{% endblock %}

