{% extends 'site/base.html' %}
{% load menu %}
{% block stage %}
{% load compress %}
<!-- work process starts here -->
<div class="row marl" id="work-process">
  <div class="container">
    <div class="row marl company-moral">
      <h3>Micropyramid leveraging the power of open source technologies</h3>
      <span>We follow perfect mix of development process agile + scrum and that let us boost in delivering software in time with high quality.</span>
    </div>
    <div class="row marl work-process">
      <!-- plan starts here -->
      <div class="col-md-3 col-sm-3 plan step1">
        <div class="step-pic"><img src="/static/site/images/plan.png" alt="Planning Logo" />
        </div>
        <div class="step-content">
          <span class="step-title">Planning</span>
          <span class="step-desc">Planning of Project artictecture involves all aspects of a application from software stack, design, security, performance, modularity and scalability and we consider all these.</span>
        </div>
      </div>
      <!-- plan ends here -->
      <!-- design starts here -->
      <div class="col-md-3 col-sm-3 plan step2">
        <div class="step-pic"><img src="/static/site/images/design.png" alt="Design Logo"/>
        </div>
        <div class="step-content">
          <span class="step-title">Designing</span>
          <span class="step-desc">Our design methodolgy is evolved to cater all scenarios of web applications. Whiteboard is the first thing comes in the mind of our designers as we visualize before materializing.</span>
        </div>
      </div>
      <!-- design ends here -->
      <!-- development starts here -->
      <div class="col-md-3 col-sm-3 plan step3">
        <div class="step-pic"><img src="/static/site/images/development.png" alt="Development Logo"/>
        </div>
        <div class="step-content">
          <span class="step-title">Development</span>
          <span class="step-desc">We accept challenges as our high performance nocturnal geeks can't work on simple things :) We do test our code with Jenkins CI to assure bug free code.</span>
        </div>
      </div>
      <!-- development ends here -->
      <!-- testing starts here -->
      <div class="col-md-3 col-sm-3 plan step4">
        <div class="step-pic"><img src="/static/site/images/testing.png" alt="Testing Logo"/>
        </div>
        <div class="step-content">
          <span class="step-title">Testing &amp; Maintenance</span>
          <span class="step-desc">Application and server maintennace is one of our specialities and we know how to tune applications and servers to see performance boost in milli seconds. We know the value of time.</span>
        </div>
      </div>
      <!-- testing ends here -->
    </div>
  </div>
</div>
<!-- work process ends here -->
<!-- our services starts here -->
<div class="row marl" id="our-services">
  <div class="container">
    <div class="row marl home-headings">
      <h3 class="home-head">Services we offer</h3>
    </div>
    <!-- service blocks starts here -->
    <div class="row marl service-block1">
      <!-- design service starts here -->
      <div class="col-md-4 col-sm-4 service">
        <div class="design-service">
          <span class="title">Web desiging</span>
          <span class="desc">Our design process is fine flow of ideas and implementation among mockups, UX, responsive layouts, whiteboard. We mainly use Bootstrap, LESS, AngularJs and Jquery.</span>
          <span class="re-direct"><a href="#">View More</a></span>
        </div>
      </div>
      <!-- design service ends here -->
      <div class="col-md-8 col-sm-8  two-slides">
        <!-- develop service starts here -->
        <div class="row marl service">
          <div class="develop-service">
            <span class="title">Development</span>
            <span class="desc">We follow perfect mix of development process agile + scrum. This will give us boost in delivering software in time boost in delivering software in time with high quality.</span>
            <span class="re-direct"><a href="#">View More</a></span>
          </div>
        </div>
        <!-- develop service ends here -->
        <!-- testing service starts here -->
        <div class="row marl service">
          <div class="testing-service">
            <span class="title">Testing</span>
            <span class="desc">Our gitlab server continuously talks to Jenkins server to identify anomalies in code. We do security penetration and load testing at unmatched level of ingenuity.</span>
            <span class="re-direct"><a href="#">View More</a></span>
          </div>
        </div>
        <!-- testing service ends here -->
      </div>
    </div>
    <div class="row marl">
      <!-- cloud service starts here -->
      <div class="col-md-4 col-sm-4 service">
        <div class="cloud-service">
          <span class="title">Cloud Computing</span>
          <span class="desc">Amazon AWS, Rackspace, ELK Stack, Mongodb, Nginx loadbalancing, autoscaling are our specialities. With 6 years of experience in cloud development and management we offer reliable and affordable services to our clients across Countries.</span>
          <span class="re-direct"><a href="#">View More</a></span>
        </div>
      </div>
      <!-- cloud service ends here -->
      <!-- server service starts here -->
      <div class="col-md-4 col-sm-4 service">
        <div class="server-service">
          <span class="title">Server Management</span>
          <span class="desc">Server monitoring and tuning is very much exciting to us even after 6 years of continuous updation of techniques and challengs we faced to tune our process. We do security hardening, performance tuning and monitoring various metrics of server health.</span>
          <span class="re-direct"><a href="#">View More</a></span>
        </div>
      </div>
      <!-- sever service ends here -->
      <!-- social service starts here -->
      <div class="col-md-4 col-sm-4 service">
        <div class="social-service">
          <span class="title">Social Integration</span>
          <span class="desc">Facebook, google, linkedin, twitter, bootstrap, stackexchange and many other platform integrations happened in our labs. We do deep integration by harnessing these social APIs.</span>
          <span class="re-direct"><a href="#">View More</a></span>
        </div>
      </div>
      <!-- social service ends here -->
    </div>
    <!-- service blocks ends here -->
  </div>
</div>
<!-- our services ends here -->
<!-- our technologies starts here -->
<div class="row marl" id="our-technologies">
  <div class="container">
    <h3 class="home-head">Technologies we use the most</h3>
    <div class="row marl our-technologies">
      <div class="tech-grid">
        <div class="grid">
          <div class="grid-sizer">Python</div>
          <div class="grid-item">Python</div>
          <div class="grid-item">Django</div>
          <div class="grid-item  grid-item--width2">amazon web services</div>
          <div class="grid-item ">html</div>
          <div class="grid-item">css</div>
          <div class="grid-item">javascript</div>
          <div class="grid-item ">html5</div>
          <div class="grid-item">css3</div>
          <div class="grid-item ">photoshop</div>
          <div class="grid-item ">ubuntu</div>
          <div class="grid-item">celery</div>
          <div class="grid-item ">mysql</div>
          <div class="grid-item grid-item--width2">postgresql</div>
          <div class="grid-item">mongodb</div>
          <div class="grid-item">jquery</div>
          <div class="grid-item">Angular JS</div>
          <div class="grid-item grid-item--width2 ">rest web services</div>
          <div class="grid-item grid-item--width2">elastic search</div>
          <div class="grid-item">nginx</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our technologies ends here -->
<!-- our blog starts here -->
<div class="row marl" id="our-blog">
  <div class="container">
    <h3 class="home-head">Fresh from our Blog</h3>
    <!-- blog starts here -->
    <div class="row marl blog-blocks">
      <!-- latest block starts here -->
      <div class="col-md-4 col-sm-3 blog-block">
        <div class="latest-blog blog-item">
          {% get_latest_posts as latest_posts %}
          {% for post in latest_posts|slice:":1" %}
          <span itemscope itemType="http://schema.org/BlogPosting">
            <span class="title"><a href="/blog/{{post.slug}}/"><span itemprop="headline">{{ post.title }}</span></a></span>
            <span class="date-author"><span class="author" itemprop="author"><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.user.get_full_name }}</span></span></span> <span class="date"><a href="/blog/{{post.updated_on|date:"Y"}}/{{post.updated_on|date:"n"}}"><span itemprop="datePublished">{{ post.updated_on|date:"d F Y" }}</span></a></span></span>
            <span class="desc"><a href="/blog/{{post.slug}}/"><span itemprop="description">{{ post.content|safe|truncatewords:45 }}</span></a></span>
          </span>
          {% endfor %}
        </div>
      </div>
      <!-- latest block ends here -->   
      <div class="col-md-5 col-sm-6 blog-block">
        {% for post in latest_posts|slice:"1:3" %}
          <div class="recent-blog {% if forloop.counter == 1 %}green{% else %}yellow{% endif %}">
            <span class="title"><a href="/blog/{{post.slug}}/">{{ post.title }}</a></span>
            <span class="date-author"><span class="author">{{ post.user.get_full_name }}</span> <span class="date"><a href="/blog/{{post.created_on|date:"Y"}}/{{post.created_on|date:"n"}}">{{ post.created_on|date:"d F Y" }}</a></span></span>
            <span class="desc"><a href="/blog/{{post.slug}}/">{{ post.content|safe|truncatewords:20 }}</a></span>
          </div>
        {% endfor %}
      </div>
      <!-- category block starts here -->   
      <div class="col-md-3 col-sm-3 blog-block">
        <div class="category-list">
          <div class="title">Blog Categories</div>
          <ul class="cat-list">
            {% get_categories as categories %}
            {% for category in categories|slice:":9" %}
              <li><a href="/blog/category/{{category.slug}}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- category block ends here --> 
    </div>
    <!-- blog ends here -->    
  </div>
</div>
<!-- our blog ends here -->
<!--get in touch start here -->
<div class="row marl" id="get-in-touch">
  <div class="container">
    <h2>Get in Touch</h2>
    <span class="home-sub-head">We accept challenges, talk to us.</span>
    <div class="row marl contact-form">
      <form id="contactform" name="contactform" method="post">
        {% csrf_token %}
        <div class="col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12">
          <div class="row marl first-input-row">
            <div class="col-md-4 col-sm-4 input-blk">
              <input type="text" class="form-control" placeholder="Full Name" id="full_name" name="full_name">
            </div>
            <div class="col-md-4 col-sm-4 input-blk">
              <input type="email" class="form-control" placeholder="Email" id ="email" name="email">
            </div>
            <div class="col-md-4 col-sm-4 input-blk">
              <input type="tel" class="form-control" placeholder="Phone" id="phone" name="phone">
            </div>
          </div>
          <div class="row marl second-input-row">
            <div class="col-md-12 input-blk">
              <textarea class="form-control form-control1" rows="3" placeholder="Comments" id="message" name="message"></textarea>
            </div>
          </div>
          <button class="btn btn-default" type="submit">Submit Now</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--get in touch start here -->
{% endblock %}
{% block map %}
<div class="map">
  <div class='embed-container'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.4555949677!2d78.39003300000002!3d17.485752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9144f52b17db%3A0xa94f62d5a7e9c69a!2sMicroPyramid+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1431589311241" height="350" style="width:100%;border:0"></iframe>
  </div>
</div>
{% endblock %}