{% extends 'site/base.html' %}

{% block title %}
    {{ page.title|capfirst }} | {{ block.super }}
{% endblock %}

{% block meta-description %}
  <meta name="description" content="{{ page.title }} - MicroPyramid." />
{% endblock %}

{% block stage %}

{{ page.content | safe }}

{% endblock %}

{% block map %}
  {% ifequal page.title "contact-us" %}
    <div class="map">
      <div class='embed-container'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.4555949677!2d78.39003300000002!3d17.485752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9144f52b17db%3A0xa94f62d5a7e9c69a!2sMicroPyramid+Informatics+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1431589311241" width="100%" height="350" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  {% endifequal %}
{% endblock %}
