{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Micro Pyramid Admin</title>
    <link rel="shortcut icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">

    {% compress css %}
    <link type="text/less" href="/static/admin/less/style.less" rel="stylesheet">
    <link rel="stylesheet" type="text/less" href="/static/admin/less/dashboard.less" />
    <link rel="stylesheet" type="text/less" href="/static/admin/less/jquery.tagsinput.less" />
    {% endcompress %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/start/jquery-ui.css" />
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.4.5/standard/ckeditor.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>

    {% compress js %}
    <script src="/static/site/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.form.js"></script>
    {% endcompress %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
            class="fa fa-bar"></span><span class="fa fa-bar"></span><span class="fa fa-bar"></span></a><a class="brand" href="{% url 'micro_admin:index' %}"><img src="/static/site/images/logo.png"></a>
<div class="subnavbar col-md-5">
      <div class="subnavbar-inner">
        <div class="container1">
          <ul class="mainnav">
            <li><a href="{% url 'micro_admin:index' %}"><i class="fa fa-dashboard"></i><span>Dashboard</span> </a> </li>
            <li id="users"><a href="{% url 'micro_admin:users' %}"><i class="fa fa-user"></i><span>Users</span> </a> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span>Site</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'pages:menu' %}">Menu</a></li>
                <li><a href="{% url 'pages:pages' %}">Pages</a></li>
                <li><a href="{% url 'books:books' %}">Books</a></li>
                <!-- <li><a href="#">Jobs</a></li> -->
                <li><a href="{% url 'micro_admin:contacts' %}">Contacts</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil-square-o"></i><span>Blog</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'micro_blog:admin_category_list' %}">Categories</a></li>
                <li><a href="{% url 'micro_blog:admin_post_list' %}">Posts</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-users"></i><span>Staff Zone</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'employee:reports_list' %}">Reports</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /container --> 
      </div>
      <!-- /subnavbar-inner --> 
    </div>


          <span class="nav-collapse">
            <ul class="nav pull-right">

              <li class="dropdown">
                <a href="{% url 'micro_admin:clear_cache' %}">Clear Cache</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                  class="fa fa-cog"></i> Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="javascript:;">Settings</a></li>
                  <li><a href="{% url 'micro_admin:change_password' %}">Change Password</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                  class="fa fa-user"></i> {{ request.user.get_full_name|default:"Account" }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% if request.user %}{% url 'micro_admin:user_info' pk=request.user.id %}{% else %}#{% endif %}">Profile</a></li>
                  <li><a href="{% url 'micro_admin:out' %}">Logout</a></li>
                </ul>
              </li>
            </ul>
          </span>
          <!--/.nav-collapse --> 
        </div>
        <!-- /container --> 
      </div>
      <!-- /navbar-inner --> 
    </div>
    <!-- /navbar -->

    <div class="main">
      <div class="main-inner">
        <div class="container">
          <!--CONTENT-->
          {% block breadcrumb %} {% endblock breadcrumb %}
          {% block stage %} {% endblock stage %}
          <!--/CONTENT-->
        </div>
        <!-- /container --> 
      </div>
      <!-- /main-inner --> 
    </div>
    <!-- /main -->
    {% compress js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $(".mainnav > li").removeClass("active");
        $('a[href="'+window.location.pathname+'"]').parent("li").addClass("active");
        $('a[href="'+window.location.pathname+'"]').parent().parent().parent().addClass("active");
      });
    </script>
    {% endcompress %}
  </body>
</html>
