{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Post Creation</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'micro_blog:new_post' %}" class="autocomplete-me" method="POST" id="blogform" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="Text" class="form-control" id="title" name="title" style="position:relative;">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug">
        <span class="slug-text">Do not mix form groups directly with input groups. Instead, nest the input group inside of the form group.</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Category</label>
        <select class="form-control" id="category" name="category">
          {% for category in categories %}
          <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="html">Blog Post Description</label>
        <div class="control-group">
          <div class="controls" id="content">
            <input type="hidden" name="content">
            <textarea class="input-xlarge" id="textareacontents" name="textareacontents" rows="10" placeholder="HTML code of this email">
            </textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Meta Description</label>
        <div class="control-group">
          <div class="controls" id="content">
            <textarea class="input-xlarge" id="meta_description" name="meta_description" placeholder="Meta Description" style="margin: 0px; width: 1062px; height: 93px;"></textarea>
          </div>
        </div>
      </div>

      <div class="tags-block">
        <p><label>Tags Creation</label>
          <input id="tags_1" type="text" class="tags" name="tags" value="" />
        </p>
      </div>
      <!-- <div class="tags-block">
        <p>
          <label>Featured Image</label>
          <input type="file" name="featuredimage" />
        </p>
      </div> -->
      {% if request.user.user_roles == "Admin" or request.user.is_special or request.user.is_superuser %}
      <div class="draft-box">
        <input type="radio" name="status" value="D">
        <label>Save as Draft</label>
      </div>
      <div class="draft-box">
        <input type="radio" name="status" value="P">
        <label>Publish Post</label>
      </div>
        {% if request.user.user_roles == "Admin" or request.user.is_superuser %}
          <div class="draft-box">
            <input type="radio" name="status" value="T">
            <label>Reject Post</label>
          </div>
        {% endif %}
      {% endif %}
      <div class="save-btn">
        <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="save_blog_post">
      </div>
    </form>
  </div>
</div>
<!-- main content ends here-->
{% load compress %}
{% compress js %}
<script type="text/javascript">
  function onAddTag(tag) {
    alert("Added a tag: " + tag);
  }
  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }
  function onChangeTag(input,tag) {
    alert("Changed a tag: " + tag);
  }
  $(function() {
    $('#tags_1').tagsInput({width:'auto'});
    $('#tags_2').tagsInput({
      width: 'auto',
      onChange: function(elem, elem_tags)
      {
        var languages = ['php','ruby','javascript'];
        $('.tag', elem_tags).each(function()
        {
          if($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
            $(this).css('background-color', 'yellow');
        });
      }
    });
    $('#tags_3').tagsInput({
      width: 'auto',
      //autocomplete_url:'test/fake_plaintext_endpoint.html' //jquery.autocomplete (not jquery ui)
      autocomplete_url:'test/fake_json_endpoint.html' // jquery ui autocomplete requires a json endpoint
    });
  // Uncomment this line to see the callback functions in action
  //      $('input.tags').tagsInput({onAddTag:onAddTag,onRemoveTag:onRemoveTag,onChange: onChangeTag});
  // Uncomment this line to see an input with no interface for adding new tags.
  //      $('input.tags').tagsInput({interactive:false});
  });
</script>
<script type="text/javascript">
  CKEDITOR.config.allowedContent = true;
  CKEDITOR.config.autoParagraph = false;
  var editor = CKEDITOR.replace('textareacontents');
</script>
<script type="text/javascript">
  $ = jQuery;
  $('#cancel_blog_post').click(function(e){
    window.location = "{% url 'micro_blog:admin_post_list' %}";
  });
    $('form#blogform').ajaxForm({
      beforeSerialize: function() {
        console.log(CKEDITOR.instances.textareacontents.getData())
        $("input[name='content']").val(CKEDITOR.instances.textareacontents.getData());
      },
      dataType: 'json',
      beforeSend: function() {
        $("#save_blog_post").attr("disabled", "disabled");
      },
      success: function(data) {
        $("#save_blog_post").removeAttr('disabled');
        if (data.error) {
          $('p.failure').remove();
          for (var key in data.response) {
            $('#' + key).after('<p class="failure">' + data.response[key] + '</p>');
          }
        } else {
          window.location = "{% url 'micro_blog:admin_post_list' %}";
        }
      }
    });
</script>
<script type="text/javascript">
  var Autocomplete = function(options) {
  this.form_selector = options.form_selector
  this.url = '/search/autocomplete/' || options.url
  this.delay = parseInt(options.delay || 300)
  this.minimum_length = parseInt(options.minimum_length || 3)
  this.form_elem = null
  this.query_box = null
}

Autocomplete.prototype.setup = function() {
  var self = this

  this.form_elem = $(this.form_selector)
  this.query_box = this.form_elem.find('input[name=title]')

  this.query_box.on('keyup', function() {
    var query = self.query_box.val()

    if(query.length < self.minimum_length) {
      return false
    }

    self.fetch(query)
  })

  this.form_elem.on('click', '.ac-result', function(ev) {
    self.query_box.val($(this).text())
    $('.ac-results').remove()
    return false
  })
}

Autocomplete.prototype.fetch = function(query) {
  var self = this

  $.ajax({
    url: this.url
  , data: {
      'q': query
    }
  , success: function(data) {
      self.show_results(data)
    }
  })
}

Autocomplete.prototype.show_results = function(data) {
  $('.ac-results').remove()

  var results = data.results || []
  var results_wrapper = $('<div class="ac-results"></div>')
  var base_elem = $('<div class="result-wrapper"><a href="" class="ac-result"></a><br><p class="auther"></p></div>')
  if(results.length > 0) {
    for(var res_offset in results) {
      elem = $('<div class="result-wrapper"><a  target="_blank" href='+ results[res_offset]['link']+ '>'+results[res_offset]['title'] +'</a><br><p>'+'Author: '+results[res_offset]['Auther'] + ', Created On: '+results[res_offset]['created'] + '</p></div>');
      results_wrapper.append(elem);
    }
  }
  else {
    return false
  }

  this.query_box.after(results_wrapper)
}

$(document).ready(function() {
  window.autocomplete = new Autocomplete({
    form_selector: '.autocomplete-me'
  })
  window.autocomplete.setup()
})
</script>
{% endcompress %}
{% endblock %}