{% extends 'admin/base.html' %} {% block stage %}
{% load blog_tags %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Blog Post Viewer</h3>
    <span>
      <span class='active_user'><i class="fa fa-square" style="color:#f8cb00;"></i>Drafted</span>
      <span class='active_user'><i class="fa fa-square"></i>Published</span>
      <span class='inactive_user'><i class="fa fa-square"></i>Rejected</span>
      <a href="{% url 'micro_blog:new_post' %}"><button class="btn btn-warning"><i class='fa fa-plus'></i> Add New Blog Post </button></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table id="blog_posts" class="table table-bordered">
        <thead>
          <tr>
            <th width="8%">Title</th>
            <th width="5%">Author</th>
            <th width="5%">Status</th>
            <th width="5%">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for post in blog_posts %}
          <tr class="{% if post.status == 'D' %}warning{% elif post.status == 'P' %}success{% else %}danger{% endif %}">
            <td><a href="/blog/view-post/{{post.slug}}">{{post.title}}</a></td>
            <td class="txt_center">{{post.author}}</td>
            <td class="txt_center">{% ifequal post.status 'D' %}Drafted{% endifequal %} {% ifequal post.status 'P' %}Published{% endifequal %}{% ifequal post.status 'T' %}Rejected{% endifequal %}
            </td>
            <td class="txt_center">{% if post|is_editable_by:request.user %}
              <a href="{% url 'micro_blog:edit_blog_post' blog_slug=post.slug%}" class="edit_anchor" value="{{ post.slug }}"><i class="fa fa-pencil-square-o"></i>Edit</a>{% endif %}
              {% if post|is_deletable_by:request.user %}
              <a href="{% url 'micro_blog:delete_post' blog_slug=post.slug %}" class="delete_post delete_anchor" value="{{ post.slug }}"><i class="fa fa-trash-o"></i>Delete</a>
              {% endif %}
              <a href="{% url 'micro_blog:blog_article' slug=post.slug %}" title="View on site" class="preview-btn-click edit_anchor"><i class="fa fa-eye" style="padding-right:1px;"></i></a>
            </td>
            <p class="active"></p>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% load compress %}
{% compress js %}
<script type="text/javascript">
  $ = jQuery;
  $(document).ready(function() {
    $('.delete_post').click(function(e){
      e.preventDefault();
      if (!confirm('Do you want to delete blog post?'))
        return;

      $.post('/blog/delete-post/'+$(this).attr('value')+'/',function(data){
        if(data.error)
        {
          alert(data.message);
        }
        else{
          window.location ="{% url 'micro_blog:admin_post_list' %}";
        }
      },"json")
    });

    $('#blog_posts').DataTable({
      "sPaginationType": "full_numbers",
      "aaSorting": [],
      "bSort": true,
      "pageLength": 50
    });

  });
</script>>
{% endcompress %}
<!-- main content ends here-->
{% endblock %}
