{% extends 'admin/base.html' %} {% block stage %}
<!-- main content starts here-->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Blog Post</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'micro_blog:edit_blog_post' blog_slug=blog_post.slug %}" method="POST" id="blogform" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="Text" class="form-control" id="title" name="title" value="{{blog_post.title}}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Slug</label>
        <input type="text" class="form-control" id="slug" name="slug" value="{{blog_post.slug}}" readonly>
        <span class="slug-text">Do not mix form groups directly with input groups. Instead, nest the input group inside of the form group.</span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Category</label>
        <select class="form-control" id="category" name="category">
        {% for category in categories %}
        <option value="{{category.id}}" {% ifequal blog_post.category category %}selected{% endifequal %}>{{category.name}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="html">Blog Post Description</label>
        <div class="control-group">
          <div class="controls" id="content">
            <input type="hidden" name="content">
            <textarea class="input-xlarge" id="textareacontents" name="textareacontents" rows="10" placeholder="HTML code of this email">
            {{blog_post.content|safe}}
            </textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Meta Description</label>
        <div class="control-group">
          <div class="controls" id="content">
            <textarea class="input-xlarge" id="meta_description" name="meta_description" placeholder="Meta Description" style="margin: 0px; width: 1062px; height: 93px;">{{ blog_post.meta_description }}</textarea>
          </div>
        </div>
      </div>
      <div class="tags-block">
        <p><label>Tags Creation</label>
          <input id="tags_1" type="text" class="tags" name="tags" value="{% for tag in blog_post.tags.all %}{{tag.name}},{% endfor %}" />
      </div>
      <div class="tags-block">
        <p>
          <label>Featured Image</label>
          <input type="file" name="featuredimage" />
        </p>
      </div>
      {% if request.user.user_roles == "Admin" or request.user.is_special or request.user.is_superuser %}
      <div class="draft-box">
        <input type="radio" name="status" value="D" {% ifequal blog_post.status 'D' %}checked{% endifequal %}>
        <label>Save as Draft</label>
      </div>
      <div class="draft-box">
        <input type="radio" name="status" value="P" {% ifequal blog_post.status 'P' %}checked{% endifequal %}>
        <label>Publish Post</label>
      </div>
        {% if request.user.user_roles == "Admin" or request.user.is_superuser %}
          <div class="draft-box">
            <input type="radio" name="status" value="T" {% ifequal blog_post.status 'T' %}checked{% endifequal %}>
            <label>Reject Post</label>
          </div>
        {% endif %}
      {% endif %}
      <div class="save-btn">
        <i class="fa fa-floppy-o"></i><input type="submit" value="Save"  class="save" id="search_lessons">
      </div>
    </form>
  </div>
</div>
<!-- main content ends here-->
{% load compress %}
{% compress js %}
<script type="text/javascript">
  function onAddTag(tag) {
    alert("Added a tag: " + tag);
  }
  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }
  function onChangeTag(input,tag) {
    alert("Changed a tag: " + tag);
  }
  $(function() {
    $('#tags_1').tagsInput({width:'auto'});
    $('#tags_2').tagsInput({
      width: 'auto',
      onChange: function(elem, elem_tags)
      {
        var languages = ['php','ruby','javascript'];
        $('.tag', elem_tags).each(function()
        {
          if($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
            $(this).css('background-color', 'yellow');
        });
      }
    });
    $('#tags_3').tagsInput({
      width: 'auto',
      //autocomplete_url:'test/fake_plaintext_endpoint.html' //jquery.autocomplete (not jquery ui)
      autocomplete_url:'test/fake_json_endpoint.html' // jquery ui autocomplete requires a json endpoint
    });
  // Uncomment this line to see the callback functions in action
  //      $('input.tags').tagsInput({onAddTag:onAddTag,onRemoveTag:onRemoveTag,onChange: onChangeTag});
  // Uncomment this line to see an input with no interface for adding new tags.
  //      $('input.tags').tagsInput({interactive:false});
  });
</script>
<script type="text/javascript">
  CKEDITOR.config.allowedContent = true;
  CKEDITOR.config.autoParagraph = false;
  var editor = CKEDITOR.replace('textareacontents');
</script>
<script type="text/javascript">
  $ = jQuery;
    $('#cancel_blog_post').click(function(e){
    window.location = "{% url 'micro_blog:admin_post_list' %}";
  });
    $('form#blogform').ajaxForm({
      beforeSerialize: function() {
        $("input[name='content']").val(CKEDITOR.instances.textareacontents.getData());
      },
      dataType: 'json',
      success: function(data) {
        console.log(data);
        if (data.error) {
          $('p.failure').remove();
          for (var key in data.response) {
            $('#' + key).after('<p class="failure">' + data.response[key] + '</p>');
          }
        } else {
          window.location = "{% url 'micro_blog:admin_post_list' %}";
        }
      }
    });
</script>
{% endcompress %}
{% endblock %}