{% extends 'admin/base.html' %}
{% load user_tags %}
{% load topics_filters %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="/portal/">Home</a></li>
  <li><a href="/books/list/">Books</a></li>
  <li><a href="/books/{{book.slug}}/detail/">{{book.slug}}</a></li>
  <li><a href="/books/{{book.slug}}/topics/">Topics</a></li>
  <li class="active">Topic Details</li>
</ol>
{% endblock breadcrumb %}
{% block stage %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Topic Detail</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3 tree_div">
      <ul class="parent_list">
        <li class="topic li_active"><a href="{% url 'books:view_topic' topic_slug=topic.slug book_slug=book.slug %}"><i class="fa fa-caret-right"></i>{{topic.title|capfirst}}</a>
          <ul class="sub_topic_list">
            {% for subtopic in topic.topic_set.all %}
              {% if not subtopic.shadow %}
              <li class="sub-topic"><a href="{% url 'books:view_subtopic' subtopic_slug=subtopic.slug topic_slug=topic.slug book_slug=book.slug %}"><i class="fa fa-file-text-o"></i>{{subtopic.title|capfirst}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-9 content_div">
    <div>
    {% if topic_shadows %}
    <span>Shadows:</span>
      <p>{% for shadow in topic_shadows %}
      <a href="{% url 'books:view_topic' topic_slug=shadow.slug book_slug=book.slug %}"><span>Shadow {{forloop.counter}}</span></a>
      {% endfor %}</p>
    {% endif %}
    {% if subtopic_shadows %}
    <span>Shadows:</span>
      <p>{% for shadow in subtopic_shadows %}
      <a href="{% url 'books:view_subtopic' subtopic_slug=shadow.slug topic_slug=topic.slug book_slug=book.slug %}"><span>Shadow {{forloop.counter}}</span></a>
      {% endfor %}</p>
    {% endif %}
    <!-- Start of Topic History list -->
    {% if topic and not subtopic %}
      {% if topic.history_set.count %}
        <a class="view_history"><span>View History</span></a>
        <div id="history_div">
          {% for history in topic.history_set.all %}
            <a pan-id="#version-{{history.id}}" class="view_version"><span>Version {{forloop.counter}}</span></a>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
    <!-- End of Topic History list -->

    <!-- Start of Sub Topic History list -->
    {% if subtopic %}
      {% if subtopic.history_set.count %}
        <a class="view_history"><span>View History</span></a>
        <div id="history_div">
          {% for history in subtopic.history_set.all %}
            <a pan-id="#version-{{history.id}}" class="view_version"><span>Version {{forloop.counter}}</span></a>
          {% endfor %}
        </div>
      {% endif %}
    {% endif %}
    <!-- End of Sub Topic History list -->

    </div>
    <!-- Start of Topic History View -->
    {% if topic and not subtopic%}
      <div>
        {% for history in topic.history_set.all %}
          <div id="version-{{history.id}}" class="versions_div">
            <h5>{{history.title|capfirst}} - on {{history.date}}</h5>
            Content: {{history.content}}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <!-- End of Topic History View -->

    <!-- Start of Sub Topic History View -->
    {% if subtopic%}
      <div>
        {% for history in subtopic.history_set.all %}
          <div id="version-{{history.id}}" class="versions_div">
            <h5>{{history.title|capfirst}} - on {{history.date}}</h5>
            Content: {{history.content}}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <!-- End of Sub Topic History View -->

      <div class="topics_div">
      {% if topic and not subtopic%}
        <h5>{{topic.title|capfirst}}</h5>
        <p>
          {% if topic.status == "Approved" %}
            Approved
          {% else %}
            Waiting for Approval
          {% endif %}
          </p>
        <div class="row marl">
        <span class="actions_book">
        {% if topic.status == "Waiting" or topic.status == "Rejected" %}  
          <a href="{% url 'books:approve_topic' book_slug=book.slug topic_slug=topic.slug %}" title="Approve Topic" class="btn-click"><i class="fa fa-check"></i></a>
        {% endif %}
        {% if topic.status == "Waiting" or topic.status == "Approved" %}  
          <a href="{% url 'books:reject_topic' book_slug=book.slug topic_slug=topic.slug %}" title="Reject Topic" class="btn-click"><i class="fa fa-times"></i></a>
        {% endif %}  
          <a href="{% url 'books:delete_topic' book_slug=book.slug topic_slug=topic.slug %}" title="Delete Topic" class="delete-btn-click"><i class="fa fa-trash-o"></i></a>
          <a href="{% url 'books:topic_info' book_slug=book.slug topic_slug=topic.slug %}" title="preview Topic" class="preview-btn-click"><i class="fa fa-eye"></i></a>
        </span>
        </div>
        <div class="row marl">
        <form action="{% url "books:create_content" topic_slug=topic.slug book_slug=book.slug %}" method="post">
          <input type="hidden" name="book" value="{{book.id}}">
          <input type="hidden" name="topic" value="{{topic}}">
          <input type="hidden" name="title" value="{{topic.title}}">
          <input type="hidden" name="parent" value="{{topic.parent.id}}">
          Content: <textarea name="content" class="form-control" rows="10" cols="50">{{ topic.content }}</textarea><br />
          Keywords: <textarea name="keywords" class="form-control" rows="2" cols="50"required="True">{{ topic.keywords }}</textarea><br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>  
        </div>
        {% endif %}
        {% if subtopic %}
          <h5>{{subtopic.title|capfirst}}</h5>
          <p>
          {% if subtopic.status == "Approved" %}
            Approved
          {% else %}
            Waiting for Approval
          {% endif %}
          </p>
          <div class="row marl">
          <span class="actions_book">
          {% if subtopic.status == "Waiting" or subtopic.status == "Rejected" %}
            <a href="{% url 'books:approve_topic' book_slug=book.slug topic_slug=subtopic.slug %}" title="Approve Sub Topic" class="btn-click"><i class="fa fa-check"></i></a>
          {% endif %}
          {% if subtopic.status == "Waiting" or subtopic.status == "Approved" %}  
            <a href="{% url 'books:reject_topic' book_slug=book.slug topic_slug=subtopic.slug %}" title="Reject Sub Topic" class="btn-click"><i class="fa fa-times"></i></a>
          {% endif %}
            <a href="{% url 'books:delete_topic' book_slug=book.slug topic_slug=subtopic.slug %}" title="Delete Sub Topic" class="delete-btn-click"><i class="fa fa-trash-o"></i></a>
          </span>
         </div> 
        <div class="row marl">
        <form action="{% url "books:create_content" topic_slug=subtopic.slug book_slug=book.slug %}" method="post">
          <input type="hidden" name="book" value="{{book.id}}">
          <input type="hidden" name="topic" value="{{subtopic}}">
          <input type="hidden" name="title" value="{{subtopic.title}}">
          <input type="hidden" name="parent" value="{{subtopic.parent.id}}">
          Content: <textarea name="content" class="form-control" rows="10" cols="50">{{ subtopic.content }}</textarea><br />
          Keywords: <textarea name="keywords" class="form-control" rows="2" cols="50" required="True">{{ subtopic.keywords }}</textarea><br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>  
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% load compress %}
{% compress js %}
<script type="text/javascript">

  $(document).ready(function() {

    if($('a[href="'+window.location.pathname+'"]').parent('li').hasClass("topic")){
      
      $('a[href="'+window.location.pathname+'"]').parent('li').children('ul').slideDown('slow');

      $('a[href="'+window.location.pathname+'"]').children('i').css({
        "transform":"rotate(90deg)",
        "padding-left":"9px",
      });
    }

    if($('a[href="'+window.location.pathname+'"]').parent('li').hasClass("sub-topic")){
      
      $('a[href="'+window.location.pathname+'"]').parent('li').parent('ul').slideDown('slow');

      $('a[href="'+window.location.pathname+'"]').parent('li').parent('ul').parent('li').children('a').children('i').css({
        "transform":"rotate(90deg)",
        "padding-left":"9px",
      });
    }

    $("#history_div").hide();
    $(".versions_div").hide();

    $(".view_history").click(function(e) {
      $("#history_div").show();
    });

    $(".view_version").click(function(e) {
      $(".versions_div").hide();
      $(".topics_div").hide();
      $($(this).attr("pan-id")).show();
    });

    $('.btn-click').click(function(e) {
      e.preventDefault();
      $.post($(this).attr('href'), {'title': $(this).attr('title')}, function(data){
          alert(data.response);
          if(data.topic_slug){
            window.location = '/books/{{book.slug}}/topic/'+ data.topic_slug;
          }
        }, "json");
    });

    $('.delete-btn-click').click(function(e) {
      e.preventDefault();
      $.post($(this).attr('href'), {'title': $(this).attr('title')}, function(data){
          alert(data.response);
          window.location = '.';
        }, "json");
    });
    
  });

</script>
{% endcompress %}
{% endblock %}