{% load user_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% if topic %}{{ topic.title }} | {% elif subtopic %}{{ subtopic.title }} | {{ subtopic.parent.title }} | {% endif %}{{book.title}} | Micro Pyramid</title>
    <meta name="description" content="{% if topic %}{{ topic.title }} - {{ book.title }} - Books{% elif subtopic %}{{ subtopic.title }} - {{ subtopic.parent.title }} - {{ book.title }} - Books{% else %}{{ book.title }} - Books{% endif %} - MicroPyramid." />
    <meta name="keywords" content="{% if topic %}{{ topic.keywords }}{% elif subtopic %}{{ subtopic.keywords }}{% else %}{{ book.keywords }}{% endif %}" />
    <link rel="shortcut icon" href="/static/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% load compress %}
    {% compress css %}
    <link rel="stylesheet" href="/static/site/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/site/less/theme_extra.less" type="text/less">
    <link rel="stylesheet" type="text/less" href="/static/site/less/bs_leftnavi.less">
    <link rel="stylesheet" type="text/less" href="/static/site/less/books.less">
    {% endcompress %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% compress js %}
    <script src="/static/site/js/bootstrap.js" defer></script>
    <script src="/static/site/js/modernizr.custom.js" defer></script>
    <script src="/static/site/js/theme.js" defer></script>
    <script src="/static/site/js/bs_leftnavi.js" defer></script>
    {% endcompress %}
  </head>
  <body class="docs-body" role="document" data-twttr-rendered="true">
    <div class="docs-main-nav">
      <nav data-toggle="wy-nav-shift" class="left-side-nav stickynav">
        <div>
          <div class="left-search-title">
            <div class="title"><a href="{% url "books:book_info" slug=book.slug %}">{{book.title}}</a></div>
            <!-- <div class="search-bar"><input type="text" class="form-control" placeholder="search your document"></div> -->
          </div>
          <div class="nano-content">
            <ul class="gw-nav gw-nav-list">
              {% for topic in parent_topics %}
                {% with topic.topic_set.all as subtopics %}
                  <li class="{% if subtopics %}init-arrow-down{%else%}init-un-active{% endif %}">
                    <a href="{% url "books:topic_info" topic_slug=topic.slug book_slug=book.slug %}">
                      <span class="gw-menu-text">{{topic.title}}</span>
                    </a>
                    {% if subtopics %}
                      <b class="gw-arrow"></b>
                      <ul class="gw-submenu">
                        {% for subtopic in subtopics %}
                          {% if subtopic.status == "Approved" and not subtopic.shadow %}
                            <li>
                              <a href="{% url "books:subtopic_info" topic_slug=topic.slug subtopic_slug=subtopic.slug book_slug=book.slug %}">{{subtopic.title}}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul> 
                    {% endif %}
                  </li>
                {% endwith %}
              {% endfor %}
            </ul>
          </div>
        </div>
        &nbsp;
      </nav>
      <section data-toggle="wy-nav-shift" class="docs-content">
        <nav class="mobile-nav-top" role="navigation" aria-label="top navigation">
          <i data-toggle="mobile-nav-top" class="fa fa-bars"></i>
          <a href="#">{{book.title}}</a>
        </nav>
        <div class="right-doc-content">
          {% if topic %}
            <h3>{{topic.title}}</h3>
          {% elif subtopic %}
            <h3>{{subtopic.title}}</h3>
          {% else %}
            <h3>{{book.title}}</h3>
          {% endif %}

          {% if topic %}
            {{topic.content|convert_to_html|safe}}
          {% elif subtopic %}
            {{subtopic.content|convert_to_html|safe}}
          {% else %}
            {{book.description|convert_to_html|safe}}
          {% endif %}
        </div>
      </section>
    </div>
    {% compress js %}
    <script type="text/javascript">
      $(document).ready(function() {
        var list_item = $('a[href="'+window.location.pathname+'"]').parent("li")
        list_item.addClass("active");
        if (list_item.hasClass("init-arrow-down") || list_item.hasClass("arrow-down")){
          list_item.attr("class", "arrow-down active");
          list_item.children('ul').show();
        }
        else{
          list_item.parent('ul').show();
          list_item.parent('ul').parent('li').attr("class", "arrow-down")
        }
      });
    </script>
    {% endcompress %}
  </body>
</html>